.ContactsList{

    font-weight: normal;
    padding-left: 0;
    width: 300px;
}

.ContactsList--item{
    display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.ContactsListItem-button{

    margin-left: 15px;
}